<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      Histórico
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink = "/configuracoes">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>

      <ion-button (click) = "exibirAlertLogout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    

  </ion-toolbar>
</ion-header>


<ion-content>

   <ion-card>
    <ion-card-header>
      <ion-icon class= "iconeusuario" name="person-outline"></ion-icon> 
      
       <ion-card-title class="lado">{{cliente.nome}}</ion-card-title>


      <ion-card-subtitle class="lado">{{endereco.endereco}}</ion-card-subtitle>
   
    </ion-card-header>
  </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>Data</ion-col>
        <ion-col>Hora</ion-col>
      </ion-row>
    
    </ion-grid>
</ion-content>
